@import './_varible.scss';
@import '../../node_modules/normalize.css';

html, body {
	height: 100%;
	font-size: 14px;
    font-family: '微软雅黑', arial, sans-serif;
}

#root {
	height: 100%;
	background-color: #fff;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.video-wrap {
	position: relative;
	width: 800px;
	.video-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
		height: 400px;
		overflow: hidden;
	}
}